{% extends 'base.html' %}

{% block title%}
AI Portal Search
{% endblock %}

{% block content%}
<center>
    <form class="d-flex" method="POST" action="{%url 'model:modelSearch'%}">
        {%csrf_token%}
        <input class="form-control me-2" type="search Model" placeholder="Search Models" aria-label="Search"
            name="searched">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <h1>Model List...</h1>
    {% for i in m%}
        <a href="{% url 'model:modelResult' i.id %}">{{i.modelName}}</a> <br>
    {% endfor%}
</center>
{% endblock %}